body {
  background-color: #f8e1e7; /* Màu nền nhẹ nhàng */
  margin: 0; /* Bỏ margin mặc định */
  font-family: 'Arial', sans-serif; /* Chọn font chữ */
  display: flex; /* Sử dụng Flexbox */
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  height: 100vh; /* Chiều cao 100% của viewport */
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

